<%= form_with model: @message, url: [@board, @message] do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: 'new message' %>
  </div>

  <div class="field">
    <%= f.select :category, [['Good', 'good'], ['Improve', 'improve'], ['Actions', 'actions']], include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>